<li class="unfriended"><%= link_to(event.actor, person_url(event.actor)) %> is not a friend of <%= link_to(event.subject, person_url(event.subject)) %> anymore <%= render_timestamp event.created_at %></li>
